@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

:root{
    --primary-color: #cc0000;
    --secondary-color: #606060;
    --hover-color: #e5e5e5;
    --border-color: #cccccc;
    --grey-text: #959595;
    --light-bg: #f8f8f8;
    --dark: #0f0f0f;
    --light: #fff;
    --active-nav-link: #f2f2f2;
    --light-grey: #d9d9d9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    font-size: 16px;
}

nav{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    position: sticky;
    width: 100%;
}

nav > div{
    display: flex;
    align-items: center;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button:focus-visible{
    outline: none;
}

.nav-btn{
    width: 40px;    
    height: 40px;
    border-radius: 50%;
}

.nav-btn:hover{
    background-color: var(--hover-color);
}

.logo-parent-container > button > i{
    font-size: 24px;
}

.logo{
    width: 90px;
    margin-left: 14px;
    margin-top: 4px;
}

.logo-container{
    position: relative;
}

.logo-container::after{
    content: 'NG';
    display: block;
    color: #656565;
    position: absolute;
    font-size: 10px;
    top: -1px;
    right: -20px;
}

.search-container{
    display: flex;
}
.search{
    border: 1px solid var(--border-color);
    color: var(--grey-text);
    font-size: 16px !important;
    height: 40px;
    width: 540px;
    padding-left: 20px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    border-right: none;
}
.search-btn{
    width: 64px;
    height: 40px;
    background: var(--light-bg);
    border-radius: 0 40px 40px 0;
    border: 1px solid var(--border-color);
    font-size: 18px;
    margin: 0 !important;
}
.search-container > .btn{
    font-size: 18px;
    color: var(--dark);
    margin-left: 10px;
}
.user-icon{
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.menu-icons{
    display: flex;
    gap: 6px;
}

.menu-icons > button > i{
    font-size: 18px;
    margin: 0;
}

.user-icon{
    margin-left: 10px;
}

.notification::after{
    content: '9+';
    color: var(--light);
    background-color: var(--primary-color);
    position: absolute;
    width: 23px;
    height: 16px;
    border-radius: 22px;
    border: 2px solid #fff;
    font-style: normal;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3px;
    right: -5px;
}

main{
    display: flex;
    width: 100%;
    height: calc(100vh - 56px);
}
.sidebar{
    width: 17%;
    overflow-y: hidden;
    padding: 0 12px;
    scrollbar-width: thin;
    scrollbar-color: #606060;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
  }

.sidebar:hover{
    overflow: auto;
}
.sidebar-links-container{
    padding: 12px 0;
    border-bottom: 1px solid var(--hover-color);
    display: flex;
    flex-direction: column;
}

.sidebar-links-container > h5{
    font-size: 16px;
    font-weight: 400;
    padding: 6px 12px;
}

.sidebar-links-container > ul{
    list-style: none;
}

.sidebar-links-container > ul > li{
    display: flex;
    gap: 24px;
    border-radius: 14px;
    height: 40px;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    cursor: pointer;
}

.sidebar-links-container > ul > li:hover{
    background-color: var(--active-nav-link);
}

.active{
    background-color: var(--active-nav-link);
    font-weight: 500;
}

.sidebar-links-container > ul > li > i{
    font-size: 20px;
}

.sidebar-links-container > ul > li > img{
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 4px;
    font-size: 12px;
    padding: 0 0 0 12px;
}

.footer-links > a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
}
.copyright{
    padding: 12px;
    margin-top: 6px;
    font-size: 11px;
    color: var(--grey-text);
}
.main{
    padding: 0 12px 0 12px;
    height: 100%;
    width: 83%;
    height: calc(100vh - 56px);
}

.category-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
    position: relative;
}

.categories{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    height: 56px;
    max-width: 100%;
    scrollbar-width: none;
}
.categories > button{
    padding: 0 12px;
    background-color: var(--active-nav-link);
    height: 32px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
}

.scroll-btn{
    height: 100%;
    position: absolute;
    width: 105px;
    display: flex;
    align-items: center;
}

.scroll-btn > button > i{
    font-size: 16px;
}
.scroll-btn:first-of-type{
    background: linear-gradient(to right, #ffffff, #ffffff, transparent);
}
.scroll-btn:last-of-type{
    right: 0;
    justify-content: end; background: linear-gradient(to left, #ffffff, #ffffff, transparent);
}
.main-video-container{
    width: 100%;
    max-height: calc(100vh - 112px);
    scrollbar-width: none;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.top-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    align-items: stretch;
    padding: 25px 16px 0 16px;
    border-bottom: 4px solid var(--hover-color);
    padding-bottom: 20px;
}
.video{
    width: 32%;
}
.video-cover{
    overflow: hidden !important;
    aspect-ratio: 1/0.5638;
    width: 100% !important;
    z-index: 1;
}
.video-cover > img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
}
.video-details{
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    height: 100px ;
}
.video-details > img{
    width: 36px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.video-details > div{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-right: auto;
}

.video-details > div > p{
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-color);
}

.video-details > i{
    margin-right: 5px;
}

.channel{
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-color);
    text-decoration: none;
}

.title{
    font-size: 17px !important;
    font-weight: 500 !important;
    color: var(--dark);
    text-decoration: none;
}

.shorts{
    padding: 25px 16px;
    width: 100%;
}

.sidebar-lg{
    width: 100%;
}
.shorts > h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}
.shorts > h4 > i{
    color: var(--primary-color);
}

.short-videos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding-bottom: 20px;
}
.short{
    display: flex;
    flex-direction: column;
    width: 172px;
    gap: 5px;
}

.short > img{
    width: 100%;
    aspect-ratio: 1 /1.767;
    border-radius: 20px ;
}

.short > h4{
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
}

.short > p{
    font-size: 12px;
    color: var(--secondary-color);
}

.shorts-more{
    width: 100%;
    height: 40px;
    font-size: 18px !important;
}

.shorts-more:hover{
    background-color: var(--border-color);
}
.shorts-more-container{
    padding-bottom: 1px;
    border-bottom: 4px solid var(--border-color);
}

@media(max-width: 1200px){
    .sidebar-lg{
        display: none;
    }
    .sidebar{
        width: 75px;
        padding: 0 4px;
    }
    .main{
        width: calc(100vw - 75px);
    }

    .sidebar-links-container{
        border-bottom: unset;
    }
    .sidebar-links-container > ul > li{
        padding: 16px 0;
        width: 64px;
        height: 74px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        font-size: 10px;
        font-weight: 400;
        cursor: pointer;
    }
    .active{
        background-color: unset;
    }
}

@media(max-width: 1110px){
    .main-video-container{
        width: 78%;
        margin: 0 auto;
    }
    .video{
        width: 48.8%;
    }
}